* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 25%;
    border: 1;
    margin: 25px auto;
}

/*NAVIGATION MENU*******************/

nav {
    background-color: #fff8ed;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 5;
    height: 3.3em;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.nav-links li {
    margin: 10px;
    padding: 0.6%;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.nav-links li a:hover {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

 /*hamburger menu icon - active in media query with
 max width 550px*/
.open-menu {
    position: absolute;
    cursor: pointer;
    font-size: 1.5em;
    top: 50%;
    right: 20px;
    display: none;
    transform: translateY(-100%);
}


/*BANNER SECTION*******************/

#banner {
    background-image: url("assets/browardvilla-scenery.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: 80%;
    height: 48em;
    width: 100%;
    /* height: 100vh; */
    max-width: 100%;
    overflow: hidden; 
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
}

#banner-frame {
    color: white;
    font-size: 2.5em;
    text-align: center;
}

#banner-frame p { 
    font-size: 0.8em;
    letter-spacing: 0.1px;
    font-family: 'Times New Roman', Times, serif;
}

#banner-frame h1 {
    padding: 20px;
    width: 100%;
    font-family: 'Cinzel Decorative', serif;
    letter-spacing: 2px;
}

#banner-frame button {
    background-color: rgb(162, 133, 165);
    color: white;
    padding: 1%;
    font-size: 0.4em;
    letter-spacing: 1px;
    border: transparent;
    margin-top: 5%;
    padding: 2% 3% 2% 3%;
}

/*ABOUT SECTION*******************/

#about {
    background-color: #642b62;
    color: white;
    overflow: hidden; 
    padding: 5em;
    font-size: 1.5em;
} 

.about-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 80%;
    margin-left: 10%;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.about-container--visible {
    transform: translateY(0);
    opacity: 1;
}



.fadeInEffect {
    transform: translateY(20px);
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.fadeInEffect--visible {
    transform: translateY(0);
    opacity: 1;
}



#about h3 {
    font-size: 2.4em;
    margin-bottom: 1%;
    font-family: 'Times New Roman', Times, serif;
}

.about-icons {
    padding: 2%;
    font-size: 7em;
    color: rgb(255, 255, 255);
}

/*VILLAS SECTION*******************/

#villas {
    background-color: #fff8ed;
    color: #642b62;
    overflow: hidden; 
    padding: 3em 3em 0em 3em;
    font-size: 1.5em;
    width: 100%;
}

#villas h3 {
    font-size: 2.4em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1%;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 25%;
    overflow: hidden;
    text-align: center;
}

.card img {
    width: 65%;
    height: auto;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    position: relative;
}

.garden-villa {
    background-color: #fff8ed;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}

.garden-villa img {
    width: 65%;
    height: auto;
}

#garden-villa-aside-left {
    width: 50%;
    padding: 8% 0% 8% 8%;
    text-align: center;
}

#garden-villa-aside-left h4 {
    font-size: 1.7em;
    margin-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
}

#garden-villa-aside-right {
    width: 50%;
    text-align: center;
}



#best-villa {
    background-color: rgb(162, 133, 165);
    color: white;
    width: 100%;
}

.garden-villa-room-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 2%;
}

.garden-villa-room-container img {
    width: 90%;
    height: auto;
}

#garden-villa-aside-left-down, #garden-villa-aside-right-up {
    width: 100%;
    text-align: center;
    margin: 4%;
}

#garden-villa-aside-left-down p {
    margin-top: 7%;
}

#garden-villa-aside-right-up p {
    margin-bottom: 7%;
}

/*OFFERS SECTION*******************/

#offers {
    overflow: hidden; 
    height: 90vh; 
    padding: 3em 3em 0em 3em;
    font-size: 1.3em;
    width: 100%;
    background-color: #fff8ed;
}

#offers h3 {
    font-size: 2.4em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 1% 0 1% 0;
    color: #642b62;
}

#offers-card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.offers-card {
    width: 25%;
    overflow: hidden;
    text-align: center;
    margin: 1.5%;
    line-height: 1.3;
}

.offers-card i {
    color: #642b62;
    font-size: 8.3em;
    margin-bottom: 15%;
}

.offers-card h4 {
    color: #642b62;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 1px;
    margin: 3%;
}

.offers-card p {
    color: #642b62;
}

/*TESTIMONIALS SECTION*******************/

#testimonials {
    overflow: hidden; 
    height: 90vh; 
    padding: 3em 3em 0em 3em;
    font-size: 1.3em;
    width: 100%;
    background-color: #642b62;
    color: white;
}

#testimonials h3 {
    font-size: 2.4em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 1% 0 1% 0;
    color: rgb(255, 255, 255);
}

.testimonials-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    height: 60vh;    
}

.testimonials-card {
    width: 20%;
    overflow: hidden;
    text-align: left;
    margin: 1.8%;
}

.testimonials-card q {
    letter-spacing: 1px;
    line-height: 1.3;
}

.testimonials-card p {
    margin-top: 10%;
    font-size: 1.3em;
    font-family: 'Cinzel Decorative', serif;
}

/*CONTACT SECTION*******************/

#contact {
    position: relative;
    overflow: hidden; 
    min-height: 95vh; 
    font-size: 1.3em;
    width: 100%;
    background-color: #000000;
    color: rgb(255, 255, 255);
}

video {
    position: absolute; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    object-fit: cover;
} 

.contact-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 11em;
    margin-left: 18%;
    margin-top: 3%;
}

#video-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.7em;
}

#video-text p:nth-of-type(2) {
    margin-top: 1%;
    font-size: 1.5em;
}

#contact-info {
    font-size: 1.2em;
    
}

ul {
    list-style-type: none;
}

li {
    margin: 0.5%;
    letter-spacing: 1px;
}

#social-icons-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1.5%;
    z-index: 1;
}

#social-icons-left {
    margin-top: 2.5%;
    margin-right: 28%;
}

#social-icons-left i {
    background-color: white;
    color: black;
    border-radius: 50px;
    font-size: 1.5em;
    padding: 5px;
    margin: 5px;
}

#social-icons-right {
    text-align: center;
    font-size: 1.9em;
    font-family: 'Cinzel Decorative', serif;
}

/****MEDIA QUERIES***/

@media screen and (max-width: 550px) {

    .nav-links {
        background-color: #ff9d00;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        /* right: -450px; */
        right: -450px;
        z-index: 50;
        transition: 0.3s ease-in-out;
    }

    .nav-links li {
        margin-left: 5%;
        margin-top: 10%;
    }

    /*hamburger menu icon*/
    .open-menu {
        display: block;
        /* top: 0;/* */
        margin-top: 2.5%; 
        /* position: absolute; */
        cursor: pointer;
        font-size: 1.5em;
        /* right: 0;  */
    }

    .nav-links.active {
        right: 0;
    }
}