* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 25%;
    border: 0;
    border-top: 1px solid black;
    margin: 25px auto;
}

/*.animated-text {
    position: relative;
    transform: translate(0%, 0%);
    animation: fade 400ms ease-in-out forwards;
} */
/* 
@keyframes fade {
    0% {
        top: 10px;
        left: 10px;
        opacity: 0;
    }
    50% {
        opacity: 0.9;
    }
    100% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }
} */
/*
.show {
    transform: translateX(0);
    opacity: 1;
} */

/*NAVIGATION MENU*******************/

nav {
    background-color: #fff8ed;
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center; */
    position: sticky;
    top: 0;
    z-index: 1;
    height: 3.3em;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.nav-links li {
    margin: 10px;
    padding: 0.6%;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.nav-links li a:hover {
    text-decoration: none;
    color: rgb(48, 48, 48);
}


/*BANNER SECTION*******************/

#banner {
    background-image: url("assets/browardvilla-scenery.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: 80%;
    height: 48em;
    width: 100%;
    /* height: 100vh; */
    max-width: 100%;
    overflow: hidden; 
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

/* #banner-photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
} */

#banner-frame {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;  */
    /* display: grid;
    position: relative;
    grid-area: 2 / 2 / 3 / 3; */
    color: white;
    font-size: 2.5em;
    text-align: center;
}

#banner-frame p { 
    font-size: 0.8em;
    letter-spacing: 0.5px;
}

#banner-frame h1 {
    /* background-color: red; */
    padding: 20px;
    width: 100%;
    
}

#banner-frame button {
    background-color: rgb(162, 133, 165);
    color: white;
    padding: 1%;
    font-size: 0.4em;
    letter-spacing: 1px;
    border: transparent;
    margin-top: 5%;
    padding: 2% 3% 2% 3%;
}

/*ABOUT SECTION*******************/

#about {
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;*/
    /* justify-content: center;
    align-items: center;   */
    background-color: rgb(103, 55, 103);
    color: white;
    overflow: hidden; 
    /* height: 70vh; */
    padding: 5em;
    font-size: 1.5em;
} 

.about-container {
    /* background-color: green; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 80%;
    margin-left: 10%;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.about-container--visible {
    transform: translateY(0);
    opacity: 1;
}



.fadeInEffect {
    transform: translateY(20px);
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.fadeInEffect--visible {
    transform: translateY(0);
    opacity: 1;
}



#about h3 {
    /* background-color: red; */
    font-size: 2.4em;
    /* display: inline; */
    /* text-align: center; */
    margin-bottom: 1%;
    font-family: 'Times New Roman', Times, serif;
}

.about-icons {
    /* background-color: green; */
    padding: 2%;
    font-size: 7em;
    color: rgb(255, 255, 255);
}

/*VILLAS SECTION*******************/

#villas {
    background-color: #fff8ed;
    color: rgb(103, 55, 103);
    overflow: hidden; 
    /* height: 70vh; */
    padding: 3em 3em 0em 3em;
    font-size: 1.5em;
    width: 100%;
}

#villas h3 {
    font-size: 2.4em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1%;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: red; */
}

.card {
    width: 25%;
    overflow: hidden;
    /* background-color: blue; */
    text-align: center;
}

.card img {
    width: 65%;
    height: auto;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    position: relative;
}

.garden-villa {
    /* background-color: red; */
    background-color: #fff8ed;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    /* height: 100vh; */
}

.garden-villa img {
    width: 65%;
    height: auto;
}

#garden-villa-aside-left {
    /* background-color: green;  */
    width: 50%;
    padding: 8% 0% 8% 8%;
    text-align: center;
}

#garden-villa-aside-left h4 {
    font-size: 1.7em;
    margin-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
}

#garden-villa-aside-right {
    width: 50%;
    text-align: center;
}



#best-villa {
    background-color: rgb(162, 133, 165);
    color: white;
    width: 100%;
}

.garden-villa-room-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 7%;
}

.garden-villa-room-container img {
    width: 85%;
    height: auto;
    border: 2px solid blue;
}

.garden-villa-aside-left-down, .garden-villa-aside-right-up {
    width: 100%;
    text-align: center;
    margin: 4%;
}

/*OFFERS SECTION*******************/

#offers {
    overflow: hidden; 
    height: 90vh; 
    padding: 3em 3em 0em 3em;
    font-size: 1.3em;
    width: 100%;
    background-color: #fff8ed;
}

#offers h3 {
    font-size: 2.4em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 1% 0 1% 0;
    color: rgb(103, 55, 103);
}

#offers-card-container {
    /* background-color: red;  */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
    height: 60vh;
}

.offers-card {
    width: 27%;
    overflow: hidden;
    text-align: center;
    /* background-color: green;  */
    margin: 1%;
    /* padding: 0 0 5% 0%; */
}

.offers-card i {
    color: rgb(103,55,103);
    font-size: 8.3em;
    margin-bottom: 15%;
    /* background-color: yellow; */
}

.offers-card h4 {
    color: rgb(103, 55, 103);
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 1px;
    margin: 3%;
}

.offers-card p {
    color: rgb(103, 55, 103);
}